[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx-adr = {editable = true, extras = ["dev"], path = "."}

[dev-packages]

[requires]
python_version = "3"

[scripts]
docs = "sphinx-build -b html docs docs/_build/html"
test = "python -m pytest tests/ -v"
